
input[type=text] {
    width: 30%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: transparent;
}

.title{
    width:60%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:14px;

}

.info_lable{
    width:25%;
    margin-left:10px;
    padding-right:10px;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

table, th, tr, td {
    border: 1px solid;
    width: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th {
    height: auto;
    text-align: center;
}


