
html {
    background-color: rgb(216, 243, 213);
}

.container {
    display: block;
    padding-left: 5%;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

input[type=text], input[type=datetime-local] {
    border: none;
    font-size: 20px;
    width: 45%;
    padding-left: 10px;
    background:transparent;
}

input[type=number] {
    border: 2px;
    border-style: solid;
    font-size: 30px;
    width: 7%;
}

input[type=checkbox] {
    transform: scale(2);
}

.dkcaan {
    display: block;
    padding: 15px 0 15px 0;
    font-size: 30px;
    padding-left: 5%;
}

#slsuatan {
    border: solid 2px;
    background-color: gainsboro;
}

button {
    background-color: #4abea1;
    color: white;
    border: none;
    cursor: pointer;
}

    button:hover {
        color: rgb(223, 21, 21);
        opacity: 0.8;
        background-color: aquamarine;
    }

#name {
    width: 25%;
    border-style: groove;
    font-size: 20px;
}

#iduser {
    width: 15%;
    border-style: groove;
    font-size: 20px;
}

button:active {
    background-color: rgb(231, 228, 44);
}

.caan {
    display: inline;
}

    .caan:hover {
        background-color: blue;
    }

.buttoncontainer {
    display: block;
    text-align: center;
    padding: 2em;
    padding-left: 5%;
}

#btnCancel {
    padding: 20px;
    width: 30%;
}

#btnOk {
    padding: 20px;
    width: 30%;
}

h2 {
    margin-left: 5%;
    text-transform: uppercase;
    text-decoration: underline;
}
