
editstaff-form validate-form {
    width: 290px;
}

.btn-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}
.form-group{
    width:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.form-horizontal{
    display:block;
    
}
.col-md-offset-2 col-md-10{
    margin-right:20%;
}


