.nav-item {
    margin-top: auto;
    margin-bottom: auto;
    list-style: none;
    text-decoration: none;
}

    .nav-item a {
        text-decoration: none;
    }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
}

