
* {
    margin: 0;
    padding: 0;
}

.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
}

.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 70px;
    padding-bottom: 48px;
    color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d 0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d 0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d 0%,#5543ca 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    color: #5543ca;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.input-text {
    display: block;
    width: 100%;
    height: 36px;
    color: #6c757d;
    border-width: 0 0 2px 0;
    border-color: #6c757d;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus {
    outline: none;
}

    .contact-form .input-text:focus + .label,
    .contact-form .input-text.not-empty + .label {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
    }

.contact-form .label {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: #e7710c;
    cursor: pointer;
}

.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg,#a72879,#064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

.submit-btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg,#a72879,#064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
    border-radius: 20px;
}

.select_drop {
    margin-top: 8px;
}

.back {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.btn_submit_back {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*Trang đăng kí ca ăn cá nhân*/
.txt_soluong {
    height: 2.5rem;
}




/* end trang đăng kí ca ăn cá nhân*/


/* trang thông tin cá nhân*/
.td_information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal_info {
    border: 2px solid #afa8a87a;
    padding: 20px;
    border-radius: 20px;
    margin: 20px
}

.drop_list_gener {
    border: 2px solid #afa8a87a;
    border-radius: 20px;
    width: 5rem;
}


/*end trang thông tin cá nhân*/


/*Trang báo cáo thông kê suất ăn theo ngày*/
.form_thong_ke_theo_ngay {
    display: flex;
    align-items: center;
}
/* end trang báo cáo thống kê suất ăn theo ngày*/



/*Trang Phòng Ban*/
.pagination {
    display: flex;
    text-align: center;
    margin: 15px;
    align-items: center;
    justify-content: center;
}

.pagination a {
    color: #e7710c;
    float: left;
    padding: 8px 16px;
    border: 1px solid;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #31b3d1e0;
}





/* end trang Phòng Ban*/

