.search {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.add_link{
    text-decoration: none;
    color:white;
}
.add_link :hover {
    color:white;
}
.input_search {
    width: 15rem;
    height: 2.4rem;
    border-radius: 20px;
    text-align:center;
    font-size:1.125rem;
}
