@model IEnumerable<Quanlicaan.CaAn>

@using Quanlicaan.Models;
@{
    ViewBag.Title = "Đăng ký ca ăn cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <style>
        .label {
            cursor: pointer;
            display: inline-block;
            padding: 3px 6px;
            text-align: right;
            width: 150px;
            vertical-align: top;
        }

    </style>
    <div>
        <h1 class="title">ĐĂNG KÝ ĂN CA CÁ NHÂN</h1>
    </div>
    @{
        var info = (UserLoginModel)Session["UserSession"];


        <div class="container-fluid mt-3">
                <form action="~/CaAn/Index" method="post">
                    <div>
                        <label class="label" for="hoTen">HỌ TÊN</label>
                        <input type="text" name="hoTen" value="@info.hoTen" placeholder="Nguyễn Văn An">
                    </div>
                    <div>
                        <label class="label" for="hoTen">PHÒNG BAN</label>
                        <input type="text" name="PhongBan" value="@info.PhongBan" placeholder="Phòng nhân sự">
                    </div>
                    <div>
                        <label class="label" for="hoTen">NGÀY ĐĂNG KÝ</label>
                        <input type="date" name="NgayDK" id="datePicker">
                    </div>
                    <div class="chon-ca-an">
                        @{
                           
                            <div class="ca1">
                                <label class="label" for="checkbox_ca1">Ca 1:</label>
                                <input type="checkbox" class="checkbox-ca1" id="checkbox_ca1" onclick="EnableDisableTextBox('checkbox_ca1', 'input_ca1')" name="checkbox-ca1" value="">
                                <input type="text" id="input_ca1" class="input-ca1" disabled="disabled"> suất
                            </div>
                            <div class="ca1">
                                <label class="label" for="checkbox_ca2">Ca 2:</label>
                                <input type="checkbox" class="checkbox-ca2" id="checkbox_ca2" onclick="EnableDisableTextBox('checkbox_ca2', 'input_ca2')" name="checkbox-ca1" value="">
                                <input type="text" id="input_ca2" class="input-ca1" disabled="disabled"> suất
                            </div>
                            <div class="ca1">
                                <label class="label" for="checkbox_ca2">Ca 3:</label>
                                <input type="checkbox" class="checkbox-ca3" id="checkbox_ca3" onclick="EnableDisableTextBox('checkbox_ca3', 'input_ca3')" name="checkbox-ca1" value="">
                                <input type="text" id="input_ca3" class="input-ca1" disabled="disabled"> suất
                            </div>
                            <div class="button">
                                <button class="ok">OK</button>
                                <button class="cancel">CANCEL</button>
                            </div>

                        }

                    </div>
                    <script>
                        $(document).ready(function () {
                            var now = new Date();
                            var month = (now.getMonth() + 1);
                            var day = now.getDate();
                            if (month < 10)
                                month = "0" + month;
                            if (day < 10)
                                day = "0" + day;
                            var today = now.getFullYear() + '-' + month + '-' + day;
                            $('#datePicker').val(today);
                        });
                        Date.prototype.toDateInputValue = (function () {
                            var local = new Date(this);
                            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
                            return local.toJSON().slice(0, 10);
                        });
                    </script>
                    <script type="text/javascript">
                        function EnableDisableTextBox(checkbox_caAn, inputCaAn) {
                            var input_ca1 = document.getElementById(inputCaAn);
                            var checkbox_caAn = document.getElementById(checkbox_caAn)
                            input_ca1.disabled = checkbox_caAn.checked ? false : true;
                            if (!input_ca1.disabled) {
                                input_ca1.focus();
                            }
                        }
                    </script>
                </form>
        </div>
       
    }
</div>