
@{
    ViewBag.Title = "TapThe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TapThe</h2>

<div>
    <h1 class="title">ĐĂNG KÝ CA ĂN TẬP THỂ</h1>
    <div class="thong-tin-phieu-dang-ky">
        <div class="thong-tin-nguoi-dang-ky">
            <label for="" class="ten-dau-muc">HỌ TÊN</label>
            <input type="text" placeholder="Nguyễn Văn An" class="noi-dung-can-nhap__ho-ten"><br>
            <label for="" class="ten-dau-muc">PHÒNG BAN</label>
            <input type="text" placeholder="Phòng hành chính" class="noi-dung-can-nhap__phong-ban"><br>
            <label for="" class="ten-dau-muc">NGÀY ĐĂNG KÝ</label>
            <input type="date" class="noi-dung-can-nhap__ngay-dang-ky"><br>
        </div>
        <div class="danh-sach-nhan-vien-thuoc-phong-ban">
            <div class="nhan-vien">
                <label for="" class="ten-dau-muc">HỌ TÊN</label>Trần Xuân Độ
                <div class="chon-ca-an">
                    <div class="ca1">
                        <label class="ten-dau-muc" for="checkbox-ca1">Ca 1:</label>
                        <input type="checkbox" class="checkbox-ca1" id="checkbox-ca1" name="checkbox-ca1" value="checkbox-ca1">
                        <input type="text" class="input-ca1"> suất
                    </div>
                    <div class="ca2">
                        <label class="ten-dau-muc" for="checkbox-ca2">Ca 2:</label>
                        <input type="checkbox" class="checkbox-ca2" id="checkbox-ca2" name="checkbox-ca1" value="checkbox-ca2">
                        <input type="text" class="input-ca1"> suất
                    </div>
                    <div class="ca3">
                        <label class="ten-dau-muc" for="checkbox-ca3">Ca 1:</label>
                        <input type="checkbox" class="checkbox-ca3" id="checkbox-ca3" name="checkbox-ca3" value="checkbox-ca3">
                        <input type="text" class="input-ca1"> suất
                    </div>

                </div>


            </div>
            <div class="nhan-vien">
                <label for="" class="ten-dau-muc">HỌ TÊN</label>Trần Đức Hiệp
                <div class="chon-ca-an">
                    <div class="ca1">
                        <label class="ten-dau-muc" for="checkbox-ca1">Ca 1:</label>
                        <input type="checkbox" class="checkbox-ca1" id="checkbox-ca1" name="checkbox-ca1" value="checkbox-ca1">
                        <input type="text" class="input-ca1"> suất
                    </div>
                    <div class="ca2">
                        <label class="ten-dau-muc" for="checkbox-ca2">Ca 2:</label>
                        <input type="checkbox" class="checkbox-ca2" id="checkbox-ca2" name="checkbox-ca1" value="checkbox-ca2">
                        <input type="text" class="input-ca1"> suất
                    </div>
                    <div class="ca3">
                        <label class="ten-dau-muc" for="checkbox-ca3">Ca 1:</label>
                        <input type="checkbox" class="checkbox-ca3" id="checkbox-ca3" name="checkbox-ca3" value="checkbox-ca3">
                        <input type="text" class="input-ca1"> suất
                    </div>

                </div>


            </div>
            <div class="nhan-vien">
                <label for="" class="ten-dau-muc">HỌ TÊN</label>Đào Đức Danh
                <div class="chon-ca-an">
                    <div class="ca1">
                        <label class="ten-dau-muc" for="checkbox-ca1">Ca 1:</label>
                        <input type="checkbox" class="checkbox-ca1" id="checkbox-ca1" name="checkbox-ca1" value="checkbox-ca1">
                        <input type="text" class="input-ca1"> suất
                    </div>
                    <div class="ca2">
                        <label class="ten-dau-muc" for="checkbox-ca2">Ca 2:</label>
                        <input type="checkbox" class="checkbox-ca2" id="checkbox-ca2" name="checkbox-ca1" value="checkbox-ca2">
                        <input type="text" class="input-ca1"> suất
                    </div>
                    <div class="ca3">
                        <label class="ten-dau-muc" for="checkbox-ca3">Ca 1:</label>
                        <input type="checkbox" class="checkbox-ca3" id="checkbox-ca3" name="checkbox-ca3" value="checkbox-ca3">
                        <input type="text" class="input-ca1"> suất
                    </div>

                </div>


            </div>
            <div class="button">
                <button class="ok">OK</button>
                <button class="cancel">CANCEL</button>
            </div>
        </div>
    </div>
</div>