@using System.Data;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowSuatAn</title>
</head>
<body>
    <div> 
        đay là danh sách suất ăn
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>ID User</th>
            <th>Ngày đăng kí</th>
        </tr>
        
            @foreach(DataRow dr in ViewBag.ListSuatAn.Rows)
            {   
                <tr>
                    <th> @dr["ID"]</th>
                    <th> @dr["IDUser"]</th>
                    <th> @dr["Thoigiandat"]</th>
                </tr>
            }
    </table>
</body>
</html>
