<!-- chú ý, chưa css xong cho form đăng kí, dừng lại ở phút thứ 18 -->

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="~/assets/css/base.css" rel="stylesheet" />

    <link href="~/assets/css/main.css" rel="stylesheet" />

    <link href="~/assets/fonts/fontawesome-free-6.1.0/css/all.min.css" rel="stylesheet" />
    <!-- chọn file .min để loại bỏ đi kí tự thừa -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
</head>

<body>

    <!-- form đăng nhập -->
    <div class="chao-mung">
        ỨNG DỤNG QUẢN LÝ ĂN CA
    </div>
    <form action="/Login/DangNhapHeThong" method="post">
        <div class="auth-form">
            <div class="auth-form__container">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">Đăng nhập</h3>
                   
                    <span class="auth-form__switch-btn"> <a href="~/Regist/Index">Đăng ký</a></span>
                </div>
                <div class="auth-form__form">
                    <div class="auth-form-group">
                        <input type="text" placeholder="Email của bạn" name="username" class="auth-form__input">
                    </div>
                    <div class="auth-form-group">
                        <input type="password" placeholder="Mật khẩu của bạn" name="password" class="auth-form__input">
                    </div>

                </div>
                <div class="auth-form_aside">
                    <div class="auth-form__help">
                        <a href="" class="auth-form__help-link auth-form__help-link-forgot">Quên mật khẩu ?</a>
                        <span class="auth-form__help-separate"></span>
                        <a href="" class="auth-form__help-link">Cần trợ giúp</a>
                    </div>
                </div>
                <div class="auth-form__controls">
                    <button class="btn auth-form__controls-back">TRỞ LẠI</button>
                    <button type="submit" class="btn btn--primary">ĐĂNG NHẬP</button>
                </div>
            </div>
            <div class="auth-form__socials">
                <a href="" class="btn__size-s btn--with-icon">
                    <i class="fa-brands fa-facebook-square "></i> Đăng nhập với Facebook
                </a>
                <a href="" class="btn--with-icon">
                    <i class="fa-brands fa-google"></i>Đăng nhập bằng Google
                </a>
            </div>


        </div>
    </form>
</body>

</html>
<!-- chú ý, chưa css xong cho form đăng kí, dừng lại ở phút thứ 18 -->