
@{
    ViewBag.Title = "Delete Nhan vien";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model Quanlicaan.Models.Framework.NhanVien
<!doctype html>
<html lang="en">
<head>
    <title>Delete Nhân viên </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/">

</head>
<body>
    <!--important link source from "https://bootsnipp.com/snippets/qNB2D"-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">

    <section class="ready__started project__form">
        <div class="container">
            <h3 class="text-center">Form With Floating Label</h3>
            <div class="ready__started-box">
                <form class="main__form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="John" required>
                                <label for="firstName">First Name*</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Doe" required>
                                <label for="lastName">Last Name*</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="example@xyz.com" required>
                                <label for="email">Email*</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="contactNumber" aria-describedby="contactNumber" placeholder="xxx-xxx-xxxx" required>
                                <label for="contactNumber">Contact Number*</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="company" aria-describedby="company" placeholder="Company Name" required>
                                <label for="company">Company*</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="webSite" aria-describedby="webSite" placeholder="http://xyz.com" required>
                                <label for="webSite">Website*</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-message">
                        <textarea class="form-control" id="message" rows="6" placeholder="Message"></textarea>
                        <label for="message">Message</label>
                    </div>
                    <div class="form-groups">
                        <label class="btn-attached" for="attached_file"><i class="fa fa-paperclip" aria-hidden="true"></i> Attach File</label>
                        <input style="display: none" type="file" class="form-control-file" id="attached_file">
                    </div>
                    <div class="form-groups form-check">
                        <input type="checkbox" class="form-check-input" id="checkBox">
                        <label class="form-check-label" for="checkBox">I consent to receive communications from Resourcifi and collect my submitted data. For more details, check out our Privacy Policy.</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class=" btn btn-get"><span> Submit Now!</span></button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>
</html>


