<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>bạn không thể xóa phòng ban này vì chúng ảnh hưởng đến các record nhân viên</h2>
    </hgroup>
</body>
</html>
