<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Lỗi rồi !</h1>
        <h2>Nhưng mà không biết lỗi ở đâu ?.</h2>
    </hgroup>
</body>
</html>
