
@{
    ViewBag.Title = "Thống kê cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Báo cáo cá nhân</title>

    <link rel="stylesheet" href="~/css/baocaocanhan.css">
</head>
<body>
    <div class="banner">
        <div class="companyname">
            <p>TỔNG CTY</p>
            <P>CÔNG TY ABC</P>

        </div>
        @*<div class="logocontainer">
            <img src="~/images/kkkk.jpg" alt="logo" id="logo">
        </div>*@
        <div class="chxhcnvn">
            <p>CỘNG HÒA XHCN VIỆT NAM</p>
            <P>Độc lập - Tự do - Hạnh phúc</P>
        </div>
    </div>
    <div class="title">
        <h1>THỐNG KÊ CA ĂN CÁ NHÂN</h1>

        <Label for="uname">Họ tên</Label>
        <input type="text" name="uname">
        <br>

        <Label for="pban">Phòng ban</Label>
        <input type="text" name="pban">
    </div>

    <div class="content">
        <table>
            <tr>
                <th>STT</th>
                <th>Ngày</th>
                <th>Ca 1</th>
                <th>Ca 2</th>
                <th>Ca 3</th>
            </tr>
            <tr>
                <td>1  </td>
                <td><input type="date" disabled></td>
                <td> <input type="number" id="number" disabled> </td>
                <td> <input type="number" id="number" disabled> </td>
                <td> <input type="number" id="number" disabled> </td>
            </tr>
            <tfoot>
                <tr>
                    <td>Tổng</td>
                    <td></td>
                    <td></td>
                    <td>  </td>
                    <td> </td>
                </tr>
            </tfoot>

        </table>

    </div>



</body>

</html>