
@{
    ViewBag.Title = "Thống kê theo ngày";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Báo cáo theo ngày</title>


    <link href="~/css/baocaotheongay.css" rel="stylesheet" />
</head>
<body>
    <div class="banner">
        <div class="companyname">
            <p>TỔNG CTY</p>
            <P>CÔNG TY ABC</P>
            
        </div>
        @*<div class="logocontainer">
            <img src="~/images/kkkk.jpg" alt="logo" id="logo">
        </div>*@
        <div class="chxhcnvn">
            <p>CỘNG HÒA XHCN VIỆT NAM</p>
            <P>Độc lập - Tự do - Hạnh phúc</P>
        </div>
    </div>


    <div class="ngaybaocao">
        <p> <b>THỐNG KÊ ĂN CA NGÀY: <input type="date" name="date" id="iddate" >  </b> </p>
    </div>

    <div class="ca">
        <p> <b>Ca: <input type="text" name="ca" id="idcaan" disabled> </b></p>

    </div>


    <div class="content">
        <table>
            <tr>
                <th>STT</th>
                <th>Họ tên người đăng ký</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>

            </tr>
            <tr>
                <td colspan="4"> Phòng: <input type="text" name="tenphongban" id="tenphongban" disabled> </td>

            </tr>

            <tr>
                <td>1  </td>
                <td> <input type="text" id="name" disabled> </td>
                <td> <input type="number" id="number" disabled> </td>
                <td> <input type="number" id="number" disabled> </td>
            </tr>
            <tfoot>
                <tr>

                    <td></td>
                    <td style="text-align: center;">  <b>Tổng</b></td>
                    <td> <input type="number" name="tong" id="tongsl" disabled>  </td>
                    <td> </td>
                </tr>
            </tfoot>

        </table>

    </div>

    <div class="ca">
        <p> <b>Ca: <input type="text" name="ca" id="idcaan" disabled> </b></p>

    </div>


    <div class="content">
        <table>
            <tr>
                <th>STT</th>
                <th>Họ tên người đăng ký</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>

            </tr>
            <tr>
                <td colspan="4"> Phòng: <input type="text" name="tenphongban" id="tenphongban" disabled> </td>

            </tr>

            <tr>
                <td>1  </td>
                <td> <input type="text" id="name" disabled> </td>
                <td> <input type="number" id="number" disabled> </td>
                <td> <input type="number" id="number" disabled> </td>
            </tr>
            <tfoot>
                <tr>

                    <td></td>
                    <td style="text-align: center;">  <b>Tổng</b></td>
                    <td> <input type="number" name="tong" id="tongsl" disabled>  </td>
                    <td> </td>
                </tr>
            </tfoot>

        </table>

    </div>



    <div class="ca">
        <p> <b>Ca: <input type="text" name="ca" id="idcaan" disabled> </b></p>

    </div>


    <div class="content">
        <table>
            <tr>
                <th>STT</th>
                <th>Họ tên người đăng ký</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>

            </tr>
            <tr>
                <td colspan="4"> Phòng: <input type="text" name="tenphongban" id="tenphongban" disabled> </td>

            </tr>

            <tr>
                <td>1  </td>
                <td> <input type="text" id="name" disabled> </td>
                <td> <input type="number" id="number" disabled> </td>
                <td> <input type="number" id="number" disabled> </td>
            </tr>
            <tfoot>
                <tr>

                    <td></td>
                    <td style="text-align: center;">  <b>Tổng</b></td>
                    <td> <input type="number" name="tong" id="tongsl" disabled>  </td>
                    <td> </td>
                </tr>
            </tfoot>

        </table>

    </div>



</body>

</html>

