@{
    <a href="~/Views/Shared/_Layout.cshtml"></a>
    ViewBag.Title = "Trang chủ";
    <link href="~/css/shome.css" rel="stylesheet" />
}
<h1`>
    Xin chào, đây là trang chủ !
</h1`>
<head>

</head>


<body>
    <div class="container">
        <div class="hhhh">
            <img src="~/images/ss1.jpg" />
            <div>
                <a href=#>Somethings here...</a>
            </div>
        </div>
        <div class="hhhh">
            <img src="~/images/ss3.jpg" />
            <div>
                <a href=#>Somethings here...</a>
            </div>
        </div>
        <div class="hhhh">
            <img src="~/images/ss2.jpg" />
            <div>
                <a href=#>Somethings here...</a>
            </div>
        </div>
        <div class="hhhh">
            <img src="~/images/kkkk.jpg" />
            <div>
                <a href=#>Somethings here...</a>
            </div>
        </div>

    </div>
</body>

<footer>
</footer>