@using Quanlicaan.Models.Session
@{
    <a href="~/Views/Shared/_Layout.cshtml"></a>
    ViewBag.Title = "Trang chủ";
    <link href="~/css/shome.css" rel="stylesheet" />
    var info = (userSession)Session["user"];
}
<script> alert('Xin chào, @info.HoTen thuộc phòng: @info.PhongBan !') </script>

<head>
  
</head>


<body>
    <div class="container">
        <div class="hhhh">
            <img src="~/images/ss1.jpg" />
            <div>
                <a href=#>Somethings here...</a>
                <p>Tokisaki Kurumi là Tinh linh thứ ba xuất hiện trong Chính truyện Date A Live. Do những hành động tàn bạo của mình mà cô còn được coi là <i> Tinh linh tồi tệ nhất </i></p>
            </div>
        </div>
        <div class="hhhh">
            <img src="~/images/ss3.jpg" />
            <div>
                <a href=#>Somethings here...</a>
                <p>Erza Scarlet (エルザ・スカーレット Eruza Sukāretto), là một ma đạo sĩ cấp S và là nữ ma đạo sĩ mạnh nhất Fairy Tail. Erza rất nổi tiếng và được biết đến dưới cái tên Nữ hoàng Titania. Cô cũng từng giữ chức vị Hội trưởng Đệ Thất của Fairy Tail trong khoảng thời gian Makarov vắng mặt năm X792.</p>
            </div>
        </div>
        <div class="hhhh">
            <img src="~/images/ss2.jpg" />
            <div>
                <a href=#>Somethings here...</a>
                <p>Sự vĩ đại đến trong mọi hình dạng và kích thước, như cô nàng Yordle bé nhỏ cầm đại bác này đã chứng minh. Trong một thế giới đầy náo động, Tristana không chịu lùi bước trước bất kỳ thử thách này. Cô đại diện cho đỉnh cao chuẩn mực quân nhân, lòng dũng cảm phi thường và tinh thần lạc quan vô bờ bến. Với Trist và khẩu súng của cô, Bom Thủ, mỗi nhiệm vụ là một cơ hội để cho thấy anh hùng thực sự tồn tại.</p>
            </div>
        </div>


    </div>
</body>

<footer>
    <p> Today is @DateTime.Now </p>
</footer>