
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<script>alert('bạn đã đăng nhập thành công')</script>
<p>
    chào mừng bạn đến với ứng dụng quản lí ca ăn
<p>@Session["username"]</p>
</p>

