@using Quanlicaan.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>alert('bạn đã đăng nhập thành công')</script>
<p class="display-4">
    chào mừng bạn đến với ứng dụng quản lí ca ăn
    @{
        var info = (UserLoginModel)Session["UserSession"];
        <div>
            <p class="lead">họ tên của bạn là: @info.hoTen</p>
            <p class="lead">id phòng ban là: @info.PhongBan</p>
        </div>

    }
    </p>

