
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReportPerson</title>
</head>
<body>
    
    <div style="width:100% ; height :30rem;"> 
        <img  style="width:70%" ; height="100%" src="~/images/Banner1.jpg" />
    </div>
</body>
</html>
