@using System.Data
@{
    ViewBag.Title = "Danh sách phòng ban";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/nv.css" rel="stylesheet" />
}

<h2>Danh sách</h2>

<p>
    @Html.ActionLink("Thêm mới", "AddPB")
</p>
<table class="table">
    <tr class="header">
        <th>
            ID
        </th>
        <th>
            Tên Phòng Ban
        </th>
    </tr>

    @foreach (DataRow item in ViewBag.ListPhongBan.Rows)
    {
        <tr>
            <td>
               @item["ID"]
            </td>
            <td>@item["TenPB"]
                
            </td>
        </tr>
    }

</table>
