
@{
    ViewBag.Title = "Update_PhongBan_Record";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Phòng Ban</h2>
@{ 
    foreach(System.Data.DataRow dr in ViewBag.PhongBanRecord.Rows)
            {
                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                <div class="form-control">
                    <div>
                        <label class="form-label">Tên phòng ban</label>
                        <div class="col-md-10">
                            <input type="text" name="TenPB" value="@dr["TenPB"]" />
                        </div>
                        <div>
                            <input type="submit" value="Lưu thay đổi" />
                            <a href="~/PhongBan/Show">Cancel</a>
                        </div>
                    </div>
                </div>
                }
            }
}

